.list-items-container {
  height: 65vh;
  overflow-y: scroll;
  padding: 0.5rem;
}
.list-items-container::-webkit-scrollbar {
  display: none;
}
.list-top-container {
  .white-board {
    width: 100vw;
    position: absolute;
    bottom: 0;
    padding: 0.5rem;
  }
  .list-item-container {
    max-width: 35rem;
    margin: 3rem auto;
    border-radius: 1rem;
    @include shadow;
    background: $white;
    position: relative;
    .check-circle {
      color: $devider;
      font-size: 3rem;
      align-self: center;
      margin: 0 0.5rem;
    }
    .edit-list-item-holder {
      padding: 0.9rem;
      border-radius: 50%;
      background-color: $redDelete;
      position: absolute;
      right: -0.3rem;
      top: -0.5rem;
      .edit-item {
        color: $white;
        @include absoluteCenter;
        font-size: 0.7rem;
      }
    }
  }
  .item-header {
    padding: 0.5rem 0;
    position: relative;
    display: flex;
    justify-content: space-around;
    img {
      margin: 0.5rem 0.5rem;
      width: 3rem;
      height: 3rem;
      align-self: center;
    }
  }
  .item-description-holder {
    align-self: center;
    * {
      margin: 0.4rem;
    }
    .edit-element-holder {
      position: absolute;
      left: 4rem;
      top: -0.3rem;
    }
    h2 {
      color: $fontColor;
      margin-bottom: 0.4rem;
      font-size: 0.9rem;
    }
  }
  .notes-wrapper {
    margin-top: 1.6rem;
    .notes-holder {
      display: flex;
    }
    .notes {
      margin-bottom: 0.5rem;
      margin-left: 0.4rem;
    }
    span {
      display: inline-block;
      background: $yellowNote;
      padding: 0.8rem;
      border-radius: 50%;
      position: relative;
      margin: 0 0.3rem;
      .sticky-note {
        font-size: 0.8rem;
        color: $white;
        @include absoluteCenter;
      }
    }
  }
  @media (min-width: 768px) {
    .item-header {
      img {
        width: 5rem;
        height: 5rem;
      }
    }
    .item-description-holder {
      h2 {
        font-size: 1.8rem;
      }
      p {
        font-size: 1.3rem;
      }
    }
    .notes-wrapper {
      P {
        font-size: 1.3rem;
      }
      span {
        padding: 1.2rem;
        .sticky-note {
          font-size: 1.1rem;
        }
      }
    }
    .list-item-container {
      .check-circle {
        font-size: 4.5rem;
      }
    }
  }
}
