.list-items-container {
  height: 65vh;
  overflow-y: scroll;
  padding: 0.5rem;
  position: relative;
}
.list-items-container::-webkit-scrollbar {
  display: none;
}

.list-item-container {
  height: 9rem;
  max-width: 35rem;
  margin: 3rem auto;
  border-radius: 1rem;
  @include shadow;
  background: $white;
  position: relative;
  display: flex;
  padding: 1rem;

  .item-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    .item-description-holder {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 0 0.5rem;
      border-left: 1px solid #dcdcdc;
    }
  }
  img {
    height: 4.2rem;
    width: 4.2rem;
    border-radius: 50%;
  }
  .item-name {
    h3 {
      display: inline;
      margin-right: 1rem;
    }
  }
  .timestamp-holder {
    p {
      font-size: 0.76rem;
    }
    .created {
      margin-right: 0.5rem;
    }
    .creator {
      color: $darkBlue;
    }
  }
  .notes-wrapper {
    display: flex;
    align-items: center;
  }

  .edit-list-item-holder {
    z-index: 5;
    padding: 0.9rem;
    border-radius: 50%;
    background-color: $redDelete;
    position: absolute;
    right: -0.3rem;
    top: -0.5rem;
    .edit-item {
      color: $white;
      @include absoluteCenter;
      font-size: 0.7rem;
    }
  }
  .check-circle {
    color: $devider;
    font-size: 3rem;
    align-self: center;
  }
  @media (min-width: 768px) {
    .timestamp-holder {
      p {
        font-size: 1rem;
      }
      .created {
        font-size: 1rem;
        margin-right: 0.9rem;
      }
    }
    img {
      width: 7rem;
      height: 7rem;
    }
    .check-circle {
      font-size: 5rem;
    }
    .item-description-holder {
      padding: 0 1.2rem !important;
    }
  }
}
