@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

$pink: #FFE6E6;
$white:#ffffff;
$whiteTransparent: rgba(255,255,255,0.6);
$greenMain:#C2E8BE;
$greyPlaceholder: #D2D2D2;
$whiteDirty: #fcfcfc;
$grey:#d1d1d1;

$fontMain: 'Roboto', sans-serif;
$fontFunky: 'Kaushan Script', cursive; 